<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iotfacedetection.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>iotfacedetection.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IoTFaceDetection</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$IoTFaceDetection</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FaceAccess.Context.MemberInfoContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:liusjdbserver1.database.windows.net,1433;Initial Catalog=iotfacedetectionsql;User ID=jxm@liusjdbserver1;Password=&quot;Liusj=852&quot;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FaceAccess.Context.MemberInfoContext, FaceAccess" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MemberInfoConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Server=tcp:liusjdbserver1.database.windows.net,1433;Database=iotfacedetectionsql;User ID=jxm@liusjdbserver1;Password=Liusj=852;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MemberInfoConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:liusjdbserver1.database.windows.net,1433;Database=iotfacedetectionsql;User ID=jxm@liusjdbserver1;Password=Liusj=852;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:liusjdbserver1.database.windows.net,1433;Initial Catalog=iotfacedetectionsql;User ID=jxm@liusjdbserver1;Password=&quot;Liusj=852&quot;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-FaceDetection2-20150929032419.mdf;Initial Catalog=aspnet-FaceDetection2-20150929032419;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-FaceDetection2-20150929032419.mdf;Initial Catalog=aspnet-FaceDetection2-20150929032419;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="iotfacedetectionsqlconnectionstring" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=liusjdbserver1.database.windows.net;Initial Catalog=iotfacedetectionsql;User ID=jxm;Password=&quot;Liusj=852&quot;;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\iotfacedetectionsqlconnectionstring_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=liusjdbserver1.database.windows.net;initial catalog=iotfacedetectionsql;user id=jxm;password=&quot;Liusj=852&quot;;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:liusjdbserver1.database.windows.net,1433;Initial Catalog=iotfacedetectionsql;User ID=jxm@liusjdbserver1;Password="Liusj=852"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FaceAccess.Context.MemberInfoContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:liusjdbserver1.database.windows.net,1433;Initial Catalog=iotfacedetectionsql;User ID=jxm@liusjdbserver1;Password="Liusj=852"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MemberInfoConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="FaceAccess.Context.MemberInfoContext" />
  </ItemGroup>
</Project>